body, div, ul, ol, dl, dt, dd, li, h1, h2, p{ margin:0; padding:0;}
ul,dl{ list-style:none;}
a{ text-decoration:none; -webkit-touch-callout:none;}
a, input, div{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
html{ height:100%; font-size:16px; -ms-touch-action:none;}
body{ height:100%; font-size:.75rem; color:#6E6E6E; background:#edcc1f; overflow:hidden; font-family:Helvica,Arial;}
.section{ display:none; position:absolute; top:0; left:0; height:100%; width:100%; overflow:hidden; background-position: center; background-repeat:no-repeat; -webkit-background-size:cover; background-size:cover;}
.current{ display:-webkit-box; display:-ms-flexbox; display:box; -webkit-box-orient:vertical; box-orient:vertical;}
.music span{ background:url(../img/on.png) no-repeat 40% 49%; -webkit-background-size:30px; background-size:30px;}

@-webkit-keyframes 'arrowUpDown'{
	from { bottom:1.25rem;}
	to { bottom:2.1875rem;}
}
keyframes 'arrowUpDown'{
	from { bottom:1.25rem;}
	to { bottom:2.1875rem;}
}
.arrow-down{ position:absolute; bottom:1.25rem; left:50%; -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); transform:translateX(-50%); width:1.375rem; height:.9375rem; margin:3.125rem auto 0; background-position:0 -6.25rem; -webkit-animation:'arrowUpDown' .6s ease-out 0 infinite alternate; animation:'arrowUpDown' .6s ease-out 0 infinite alternate;}
.arrow-down{background: url(../img/arrow.png) no-repeat; background-size: 24px;}
.wx{ position:absolute; padding:0 15%; top:83%; left:50%; width:14rem; -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); transform:translateX(-50%); color:#999; line-height:1rem;}
.wx em{ float:left; width:3.125rem; height:3.125rem; margin-right:1rem; background-position:0 -3.125rem;}
.music{ background: rgba(0,0,0,0.2); border-radius: 50%; width:2.5rem; height:2.5rem; position: absolute; right:3.5%; top:3.5%; z-index:3;}
.music span{ width:2.5rem; height: 2.5rem; display:block; }
.music.pause span{ background: url(../img/off.png) no-repeat 43% 49%; background-size: 30px; -webkit-background-size:30px;}
.wx_share{ display:none;}
#mask{width:100%; height:100%; position:fixed; z-index:10; background: #fff;}
#mask b{background: url(../img/loading.gif) no-repeat 50% 80%; height: 100%; display: block;}
.mask-word{width: 100%;  position: fixed; top: 40%; text-align: center;}
.mask-word img{width: 70%;}
.sec{width: 100%;height: 100%;display: block;}
.sa{width: 100%; height: 50%;}
.sa span, .sa span b{ height: 100%; display: block;}
.s1_a span{ background: url(../img/1-a.png) no-repeat 50% 65%;background-size: 70%;}
.s1_b span{ background: url(../img/1-b.png) no-repeat 50% 40%; background-size: 20%; opacity: 0.1;-webkit-transition:all 3s ease-in 1000ms; transition:all 3s ease-in 1000ms; -ms-transition:all 3s ease-in 1000ms;}
.sec1.ani .s1_b span{opacity: .7; background-position: 50% 10%; background-size: 60%;}
.s2_a span{background: url(../img/2-a.png) no-repeat 50% 90%; background-size: 60%;}
.s2_b span{background: url(../img/2-b.png) no-repeat 50% 30%; background-size: 60%;opacity: 0;-webkit-transition:all 2s ease-in-out; transition:all 2s ease-in-out; -ms-transition:all 2s ease-in-out;}
.sec2.ani .s2_b span{opacity: 1;}
.s3_a span{background: url(../img/3-a.png) no-repeat 50% 20%; background-size: 70%;}
.s3_a span b{background: url(../img/3-a-t.png) no-repeat 50% 80%; background-size: 60%;}
.s3_b span{background: url(../img/3-b.png) no-repeat 50% 20%; background-size: 85%;}
.s3_b span b{background: url(../img/3-b-t.png) no-repeat 50% 70%; background-size: 55%; }
.s3_a{opacity: 0; -webkit-transition:opacity 2s ease-in; transition:opacity 2s ease-in; -ms-transition:opacity 2s ease-in;}
.s3_b{opacity: 0; -webkit-transition:opacity 2s ease-in 500ms; transition:opacity 2s ease-in 500ms; -ms-transition:opacity 2s ease-in 500ms;}
.sec3.ani .s3_a, .sec3.ani .s3_b{ opacity: 1;}
.s4_a span{background: url(../img/4-a.png) no-repeat 80% 90%; background-size: 65%;}
.s4_b span{background: url(../img/4-a-t.png) no-repeat 20% 20%; background-size: 35%; opacity: 0; -webkit-transition:opacity .5s ease-in 400ms; transition:opacity .5s ease-in 400ms; -ms-transition:opacity .5s ease-in 400ms;}
.sec4.ani .s4_b span{ opacity: 1;}

.s5_a{height: 65%;}
.s5_a span{background: url(../img/5-a.png) no-repeat 50% 50%; background-size: 70%;}
.s5_b span{background: url(../img/5-b.png) no-repeat 50% 60%;background-size: 60%;-webkit-transition:all 1s ease-in-out; transition:all 1s ease-in-out; -ms-transition:all 1s ease-in-out;}
.sec5.ani .s5_b span{ background-position: 50% 0%;}
.s6_a span{background: url(../img/6-a.png) no-repeat 50% 75%;background-size: 70%;}
.s6_b span{background: url(../img/6-b.png) no-repeat 50% 20%; background-size:60%;opacity:0; -webkit-transition:all 1s ease-in-out; transition:all 1s ease-in-out; -ms-transition:all 1s ease-in-out;}
.sec6.ani .s6_b span{opacity: 1;}
.s7_a span{background: url(../img/7-a.png) no-repeat 50% 100%;background-size: 50%;}
.s7_b span{background: url(../img/7-b.png) no-repeat 50% 30%; background-size:25%;-webkit-transition:all 1.5s ease-in-out; transition:all 1.5s ease-in-out; -ms-transition:all 1.5s ease-in-out;}
.sec7.ani .s7_b span{background-size: 65%;}
.s8_a,.s8_b{height: 100%;}
.s8_a span{background: url(../img/8-a.png) no-repeat 50% 50%;background-size: 70%;}
.s8_b span{background: url(../img/8-b.png) no-repeat 50% 50%; background-size:60%;}
.s9_a{height: 100%;background: url(../img/9-a.png) no-repeat 50% 50%; background-size: 75%;opacity: 0; -webkit-transition:all 1s ease-in-out; transition:all 1s ease-in-out; -ms-transition:all 1s ease-in-out;}
.sec9.ani .s9_a{ opacity: 1;}
.s10_a span{background: url(../img/10-a-t.png) no-repeat 20% 30%;background-size: 70%;}
.s10_a span b{background: url(../img/10-a.png) no-repeat 50% 50%;background-size: 70%;opacity:1; -webkit-transition:all 2.5s ease-in 1s; transition:all 2.5s ease-in 1s; -ms-transition:all 2.5s ease-in 1s;}
.s10_b span{background: url(../img/10-b.png) no-repeat 20% 0%; background-size:60%;}
.s10_b span b{background: url(../img/10-b-t.png) no-repeat 80% 0%; background-size: 55%;opacity:1; -webkit-transition:all 2.5s ease-in 1s; transition:all 2.5s ease-in 1s; -ms-transition:all 2.5s ease-in 1s;}
.sec10.ani .s10_a span b{opacity:0; background-size:40%; background-position: 100% 50%;}
.sec10.ani .s10_b span b{opacity: 0;}
.s11_a span{background: url(../img/11-a.png) no-repeat 50% 80%;background-size: 50%;}
.s11_b span{background: url(../img/11-b.png) no-repeat 50% 20%;background-size: 50%;opacity:0; -webkit-transition:all 1s ease-in-out; transition:all 1s ease-in-out; -ms-transition:all 1s ease-in-out;}
.sec11.ani .s11_b span{opacity: 1;}
.s12_a span{background: url(../img/12-a.png) no-repeat 50% 65%;background-size: 60%;}
.s12_b span{background: url(../img/12-b.png) no-repeat 50% 20%; background-size:30%;-webkit-animation: 'scale' 3s infinite linear;
animation: 'scale' 3s infinite linear;}
@-webkit-keyframes scale{
	0%{
		transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}
	50%{
		transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
	}
	100%{
		transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}
}
.s13_a span{background: url(../img/13-a.png) no-repeat -250% 75%; background-size:70%;-webkit-transition:all 1s ease-in-out; transition:all 1s ease-in-out; -ms-transition:all 1s ease-in-out;}
.sec13.ani .s13_a span{background-position: 50% 75%;}
.s13_b span{background: url(../img/13-b.png) no-repeat 50% 20%; background-size:20%;}
@media only screen and (min-width: 360px){
	html{ font-size:18px;}
}
